/* src/components/Board.css */

.board {
  display: flex;
  gap: 10px;
  padding: 10px;
  /* Enable horizontal scrolling */
  white-space: nowrap;

}

.list {
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  flex: 0 0 250px;  /* Fixed width for columns */
  display: flex;
  flex-direction: column;
  white-space: normal; 
  background-color: black;

}

.list h3 {
  margin-top: 0;
    /* border: 1px solid; */
    border-bottom: 3px solid white;
    padding: 11px 0px;
}

.card {
  background-color: #4c4c4c;
  padding: 10px;
  margin: 4px 0;
  border-radius: 3px;
  cursor: pointer;
}

.card:hover {
  background-color: #5c5c5c;
}

.add-card {
  background-color: #0079bf;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 3px;
  cursor: pointer;
  width: 100%;
  margin-top: 10px;
}

.add-card:hover {
  background-color: #026aa7;
}

.add-card-section { 
  display: flex;
  flex-direction: column;
}

.add-card-section input {
  margin-bottom: 5px;
  padding: 5px;
}

.add-card {
  padding: 5px;
}


.add-list {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.add-list input {
  margin-bottom: 5px;
  padding: 5px;
}

.add-list button {
  padding: 5px;
}

.add-new-list {
  border-radius: 4px;
    padding: 10px;
    width: 200px;
}

.add-new-list input {
  margin-bottom: 5px;
  padding: 5px;
  width: 88%;
  background-color: #4c4c4c;
  border: none;
  border-radius: 4px;
  padding: 11px;
  color: white;
}

.add-new-list button {
  background-color: #0079bf;
    border: none;
    border-radius: 3px;
    color: white;
    padding: 6px;
    width: 100%;
}

.add-list-button {
  background-color: #0079bf;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 12px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-list-button:hover {
  background-color: #026aa7;
}






