.dashboard {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  /* width: 100%; */
  min-width: 100vh;
  overflow: hidden;
  background: #ececec;
  }
  
  h1 {
    text-align: left;
    padding: 20px;
    background: rgb(35 100 139);
    color: white;
  }
  
  .charts {
    display: flex;
    gap: 35px;
    /* justify-content: space-between; */
    margin-bottom: 28px;
    margin: 25px;
  }
  
  .chart {
    width: 46%;
    background: white;
    padding: 20px;
    box-shadow: 0px 0px 4px 0px gray; }
  
  .pie-chart img,
  .bar-chart img {
    width: 100%;
    height: auto;
  }
  
  .task-section {
    padding: 20px;
    /* width: 100%; */
    /* overflow: hidden; */
    box-shadow: 0px 0px 4px 0px gray;
    margin: 25px;
    background: white;
  }
  
  .add-task {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 12px;
    background: #dddddd;
  }
  
  .add-task-button {
    width: 30px;
    height: 30px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    font-size: 24px;
    margin-right: 10px;
    cursor: pointer;
  }

  .text{
    font-weight: bold;
    font-size: 20px;
  }
  
  .task-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .task-table th,
  .task-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .task-table th {
    background-color: #f2f2f2;
  }
  
  .ongoing {
    color: red;
  }
  
  .completed {
    color: green;
  }